In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
df = pd.read_csv('who.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

### Podemos observar que la Columna bmi tiene algunos valores nulos

In [5]:
pd.isnull(df['bmi']).sum()

201

In [6]:
#Estoy llenando las columnas con valor null con el promedio de valores de la columna
df['bmi'].fillna(df['bmi'].mean())

0       36.600000
1       28.893237
2       32.500000
3       34.400000
4       24.000000
          ...
5105    28.893237
5106    40.000000
5107    30.600000
5108    25.600000
5109    26.200000
Name: bmi, Length: 5110, dtype: float64

### Cleaning Not Null Values

In [7]:
# Variable genero puede tener alguna informacion basura.
df['gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [8]:
# Validar que la edad de las personas sea mayor que 1 y menor a 100
df[(df['age'] > 100) | (df['age'] < 1)]

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
363,7559,Female,0.64,0,0,No,children,Urban,83.82,24.9,Unknown,0
376,22706,Female,0.88,0,0,No,children,Rural,88.11,15.5,Unknown,0
564,61511,Female,0.32,0,0,No,children,Rural,73.71,16.2,Unknown,0
982,54747,Male,0.88,0,0,No,children,Rural,157.57,19.2,Unknown,0
996,53279,Male,0.24,0,0,No,children,Rural,118.87,16.3,Unknown,0
1093,66772,Female,0.32,0,0,No,children,Rural,55.86,16.0,Unknown,0
1206,68908,Female,0.72,0,0,No,children,Urban,66.36,23.0,Unknown,0
1317,30084,Male,0.80,0,0,No,children,Rural,98.67,17.5,Unknown,0
1600,40544,Male,0.40,0,0,No,children,Urban,109.56,14.3,Unknown,0
1614,47350,Female,0.08,0,0,No,children,Urban,139.67,14.1,Unknown,0
1808,53126,Female,0.64,0,0,No,children,Urban,62.27,17.3,Unknown,0
1975,6596,Male,0.56,0,0,No,children,Rural,111.77,21.1,Unknown,0
1999,42500,Male,0.24,0,0,No,children,Rural,146.97,18.5,Unknown,0
2008,67099,Male,0.56,0,0,No,children,Rural,57.02,20.7,Unknown,0
2012,34261,Male,0.64,0,0,No,children,Rural,86.74,16.2,Unknown,0
2030,38920,Male,0.48,0,0,No,children,Urban,73.02,NaN,Unknown,0
2358,1275,Male,0.88,0,0,No,children,Urban,112.19,18.9,Unknown,0
2481,20257,Male,0.88,0,0,No,children,Urban,90.62,22.4,Unknown,0
2490,48406,Male,0.88,0,0,No,children,Urban,85.38,23.4,Unknown,0
2579,68382,Male,0.32,0,0,No,children,Urban,127.78,20.8,Unknown,0
2630,61836,Female,0.80,0,0,No,children,Urban,106.59,15.5,Unknown,0
2801,760,Male,0.80,0,0,No,children,Urban,75.22,33.1,Unknown,0
2875,42938,Male,0.64,0,0,No,children,Urban,60.40,17.3,Unknown,0
2898,64974,Male,0.24,0,0,No,children,Urban,58.35,18.6,Unknown,0
3251,14877,Male,0.56,0,0,No,children,Rural,127.23,20.1,Unknown,0
3295,29955,Male,0.08,0,0,No,children,Rural,70.33,16.9,Unknown,0
3392,11371,Male,0.24,0,0,No,children,Urban,89.28,14.2,Unknown,0
3440,18837,Male,0.56,0,0,No,children,Urban,98.23,14.1,Unknown,0
3618,22877,Male,0.16,0,0,No,children,Urban,114.71,17.4,Unknown,0
3626,23360,Male,0.80,0,0,No,children,Rural,114.54,15.1,Unknown,0
3859,13857,Male,0.32,0,0,No,children,Urban,89.04,17.8,Unknown,0
3894,69435,Female,0.56,0,0,No,children,Urban,80.92,18.3,Unknown,0
3968,41500,Male,0.16,0,0,No,children,Rural,69.79,13.0,Unknown,0
4007,43282,Male,0.72,0,0,No,children,Rural,159.79,19.9,Unknown,0
4021,8247,Male,0.16,0,0,No,children,Urban,109.52,13.9,Unknown,0
4053,40255,Female,0.48,0,0,No,children,Rural,118.75,17.4,Unknown,0
4293,69222,Male,0.24,0,0,No,children,Urban,57.09,19.4,Unknown,0
4409,1953,Female,0.72,0,0,No,children,Rural,112.19,20.1,Unknown,0
4581,15728,Female,0.40,0,0,No,children,Rural,85.65,17.4,Unknown,0
4645,25783,Female,0.48,0,0,No,children,Rural,94.06,14.8,Unknown,0
4910,37622,Female,0.32,0,0,No,children,Urban,108.63,19.6,Unknown,0
4929,29487,Male,0.72,0,0,No,children,Urban,80.08,16.4,Unknown,0
5089,56714,Female,0.72,0,0,No,children,Rural,62.13,16.8,Unknown,0

In [17]:
df.iloc[4910]

id                      37622
gender                 Female
age                      0.32
hypertension                0
heart_disease               0
ever_married               No
work_type            children
Residence_type          Urban
avg_glucose_level      108.63
bmi                      19.6
smoking_status        Unknown
stroke                      0
Name: 4910, dtype: object

In [46]:
#query : df[(df['age'] > 100) | (df['age'] < 1)]['age'] * 100
df[(df['age'] > 100) | (df['age'] < 1)]['age'] = df[(df['age'] > 100) | (df['age'] < 1)]['age'] * 100

/tmp/ipykernel_8622/2841402804.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[(df['age'] > 100) | (df['age'] < 1)]['age'] = df[(df['age'] > 100) | (df['age'] < 1)]['age'] * 100

In [45]:
df.iloc[4910]

id                      37622
gender                 Female
age                      0.32
hypertension                0
heart_disease               0
ever_married               No
work_type            children
Residence_type          Urban
avg_glucose_level      108.63
bmi                      19.6
smoking_status        Unknown
stroke                      0
Name: 4910, dtype: object